* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  background-color: var(--black);
}

:root {
  --black: #1c1c1c;
  --white: #ffffff;
  --light-grey: #e9ecf1;
  --medium-grey: #d1d5db;
  --dark-blue: #2b283a;
}

/* TYPOGRAPHY */
h1 {
  font-size: 1.5rem;
  color: var(--dark-blue);
  margin-bottom: 1.25em;
}

p {
  font-size: 1rem;
}

/* LAYOUT */
.wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0.5em;
  background-color: var(--white);
}

header {
  padding: 1.15em;
}

/* FORM */
form {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.seed-color {
  height: auto;
  border: none;
  outline: none;
}

.scheme-mode {
  font-size: 1.15rem;
  padding: 0.5em 1em;
  flex-grow: 1;
}

button {
  font-size: 1rem;
  padding: 1em;
}

button:hover {
  background-color: var(--light-grey);
}

.scheme-mode,
button {
  background-color: var(--white);
  border: 2px solid var(--medium-grey);
  border-radius: 0.5em;
}

.seed-color,
.scheme-mode,
button {
  align-items: center;
  cursor: pointer;
}

/* COLOR SCHEME */
.scheme-color-container,
.color-container {
  display: flex;
  cursor: pointer;
}

.color-container {
  width: 100%;
  flex-direction: column;
  text-align: center;
  color: var(--dark-grey);
}

.color-display {
  height: 415px;
}

.color-display,
.color-hex-code {
  cursor: pointer;
}

.color-display:hover {
  opacity: 0.8;
}

.color-hex-code {
  transition: transform 0.3s ease;
}

.color-hex-code:hover {
  transform: scale(1.1);
}

/* TOAST NOTIFICATION */
.toast-message {
  position: absolute;
  bottom: 50%;
  right: 50%;
  background-color: var(--white);
  color: var(--dark-blue);
  padding: 0.5em 1em;
  border-radius: 0.5em;
  display: none;
}

/* BREAKPOINTS */
@media (min-width: 768px) {
  body,
  html {
    font-size: 16px;
  }
  .wrapper {
    max-width: 650px;
    margin: 2em auto;
    border-radius: 0.5em;
  }
}
